@font-face {
  font-family: 'Tomorrow';
  src: url('/src/assets/fonts/Tomorrow/Tomorrow-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tomorrow';
  src: url('/src/assets/fonts/Tomorrow/Tomorrow-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tomorrow';
  src: url('/src/assets/fonts/Tomorrow/Tomorrow-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
